
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
 
  
  /* Back to top button */
  .back-to-top {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  .back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background: #0fa223;
    color: #fff;
  }
  
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Nav Menu Essentials */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  
  /* Nav Meu Container */
  #nav-menu-container {
    float: right;
    margin: 5px 0;
  }
  
  @media (max-width: 768px) {
    .nav-menu a {
  
      text-decoration: none;
      display: inline-block;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      font-size: 6px;
      outline: none;
      
    }
  }
  
  /* Nav Meu Styling */
  .nav-menu a {
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
    outline: none;
  }
  
  .nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
    color: #29cfd4;
    font-size: 16px;
  }
  
  .nav-menu ul {
    margin: 4px 0 0 15px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
  }
  
  /* Sections Common
  --------------------------------*/
  
  .section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }
  
  
  .section-description {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .section-title-divider {
    width: 80px;
    height: 3px;
    background: #019214;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  
  
  /*Colores*/
  .verde {
    color: #057c23;
  }
  
  .azul {
    color: #0a5a80;
  }
  
  .LetrasAzul {
    color: #012060;
  }
  .cyan {
    color: #0fe6e6;
  }
  
  .yellow {
    color: yellow;
  }
  
  .white {
    color: #fff;
  }
  
  .black {
    color: black;
  }
  
  .Letrasceleste {
    color: #bfdff8;
  }
  
  .celeste {
    background-color: #2481C7;
  }
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
