<!-- Button trigger modal -->
  <div *ngIf="exp.test(router.url); else visitas">
    <button  mat-fab color="primary" data-toggle="modal" data-target="#ticket">
      <mat-icon>archive</mat-icon>
    </button>
  </div>
  <ng-template #visitas>
    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#ticket">Ver Ticket</button>
  </ng-template>

<!-- Modal -->
<div class="modal fade" id="ticket" tabindex="-1" aria-labelledby="ticketLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Ticket</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-7">
            <h1>Veterinaria Lissette</h1>
            <p>Calle El Bambú, Ayutuxtepeque, #22.</p>
          </div>
          <div class="col-5 text-center py-3">
            <p>Tel: 2305-9882</p>
            <p>Nit: 0614-300899-111-9</p>
          </div>
        </div>
        <div class="row">
          <div class="col-8 text-left">
            <p class="px-3"><strong>Cliente: </strong><u>{{dataCliente.Nombres}} {{dataCliente.Apellidos}}</u></p>
            <p class="px-3"><strong>DUI: </strong><u> {{dataCliente.DUI}}</u></p>
            <p class="px-3" *ngIf='opMascota == null; else formMascota'><strong>Mascota: </strong><u> {{dataVisita.mascota}}</u></p>
            <ng-template #formMascota>
              <p class="px-3" ><strong>Mascota: </strong><u> {{opMascota}}</u></p>
            </ng-template>
          </div>
          <div class="col-4">
            <p><strong>Fecha:</strong></p>
            <p>{{date.getDate()}}/{{date.getMonth()}}/{{date.getFullYear()}}</p>
          </div>
        </div>
  
        <div class="table-responsive">
          <table class="table table-striped pt-2">
            <thead>
              <tr>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Descuento</th>
                <th>Total</th>
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td>Medicamento: {{dataVisita.medicamento}} y Tratamiento: {{dataVisita.tratamiento}}</td>
                <td class="text-right">${{dataVisita.costo}}</td>
                <td class="text-right">-${{dataVisita.descuento}}</td>
                <td class="text-right"><b>${{dataVisita.total}}</b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <a class="btn btn-primary" (click)="downloadFile()" #getTicket >Descargar Ticket</a>
      </div>
    </div>
  </div>
</div>